
.bgn {
    background: url(../img/bkg2.jpg);
    background-size: cover;
    height:10%;
}

.menu-img {
    background-color: aliceblue;
    transition: 0.3s;
}

.menu-img:hover {
    background-color: rgb(191, 255, 255);
    margin-top: -5px;
}

.menu {
    transition: 0.3s;
    cursor: pointer;
}

.menu:hover {
    margin-top: -5px;
    background-color: rgb(191, 255, 255);
}